<!--

Authors: Justin Saephan
Date: 02/08/2025
Assignment: GuestBook2

-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GuestBook</title>
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="icon" type="image/png" href="images/lion.jpg">
  <script src="script.js" defer></script>

 
</head>

<body>

  <main>
    <div>
    </div>
    <section>
      <div>
        <h1>GuestBook</h1>
        <p><b>Contact Form</b></p>

        <!-- Guestbook Form -->
        <form action="/submit" method="post">
        
        <label for = "Name">Your Name:</label> <input type="text" id="name" name = "name" placeholder="Enter your Name"></label>
        <label for = "Company"> Company:</label> <input type="text" id="company" name = "company" placeholder="Enter your Company"></label>
        <label for = "Email">Email:</label> <input type="text" id="Email" name = "Email" placeholder="Enter your Email Address"></label><br>
        <label for = "How did we meet?">How did we meet?</label>
        <select id="howdidwemeet" name="howdidwemeet" required>
          <option value="Friends">Friends</option>
          <option value="jobFair">Job Fair</option>
            <option value="Work">Work</option>
            <option value="socialMedia">Social Media</option>
            <option value="School">School</option>
        </select><br>


      </div>
      <div><br>

        <button type="Submit" id="button1">Submit</button>
      </form>
      <form action='/admin/form' method="get">
        <button type="submit">Admin</button>
        </form>

      </div>
    
    </section>
  </main>

</body>
</html>